@font-face {
    font-family: "Aokahori";
    src: url(./font/Aokahori-K7PXy.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body {
    background-image: url("https://i.etsystatic.com/5140793/r/il/80f8f3/320318541/il_570xN.320318541.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.hiragana-generator {
    width: 550px;
    height: 450px;
    background-color: #c0c0c0;
    border-radius: 5%;
    border: solid aliceblue 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hiragana-sign-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
}

.hiragana-sign-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 5px solid aliceblue;
    height: 50%;
    width: 100%;
}

.hiragana-sign-text,
.hiragana-sign-text-button,
.hiragana-sign-image,
.hiragana-sign-image-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiragana-sign-text,
.hiragana-sign-image {
    height: 65%;
}

.hiragana-sign-image-button,
.hiragana-sign-text-button {
    height: 35%;
    border: 2px solid aliceblue;
}

button {
    width: 40%;
    height: 80%;
    border: solid 3px tan;
    border-radius: 5%;
    background-color: #FFDD99;
    font-size: 28px;
    font-family: "Aokahori";
    padding: 0;
    margin: 0;
}